<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="angular-route.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container" ng-app="ShoppingListCheckOff">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyController as buy">
     <h2>To Buy:</h2>
     <ul ng-repeat="items in buy.items">
       <li>Buy {{items.quantity}} {{items.name}} 
       <button class="btn btn-default" 
       ng-click="buy.transferItemFromBuyToBought($index);"> Bought</button></li>
     </ul>
     <div class="emptyMessage" ng-if="!buy.items.length">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtController as bought">
     <h2>Already Bought:</h2>
     <ul ng-repeat="items in bought.items">
       <li>Bought {{items.quantity}} {{items.name}}
       <button class="btn btn-default" 
       ng-click="bought.transferItemFromBoughtToBuy($index);"> Cancel Buy</button></li>
     </ul>
     <div class="emptyMessage" ng-if="!bought.items.length">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>